
.Rproj.user/F11F3C70/pcs/files-pane.pper
.Rproj.user/F11F3C70/pcs/source-pane.pper
.Rproj.user/F11F3C70/pcs/windowlayoutstate.pper
.Rproj.user/F11F3C70/pcs/workbench-pane.pper
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F11F3C70/sources/session-2cc60d17/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/F11F3C70/sources/prop/68C9C251
.Rproj.user/F11F3C70/sources/prop/INDEX
.Rproj.user/F11F3C70/sources/session-2cc60d17/F0923938
.Rproj.user/F11F3C70/sources/session-2cc60d17/F0923938-contents
